@charset "UTF-8";
#shop{
	width:100%;
	min-height: 0.01%;
	background-color: #E1DFDF;
	transition: 1s all;
	
#shopHeader{
	display: none;
}	
#shopWraper{
		width: 100%;
		display: none;
		h1{
			margin-top:0;
			padding-top: 5px;
		}
		p{
			margin-top:0;
			padding-top: 5px;
			margin-left:50px;
			text-align: left;
		}
	}		
}
#xPrice{
	position: fixed;
	right: 50px;
	top:100px;
	font-family: arial;
	&::after{
		content:quote(zł);
		font-family: arial;
	}
}
#hoverShop{
	position: fixed;
	right: 50px;
	top:50px;
	border:none;
	background-color: rgba(71,156,36,1.00);
	color:white;
	font-family: arial;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	transition:0.5s all;
	&:hover{
		background-color: rgba(140,236,151,1.00);
	}
}

